<% layout('layout/basic') -%>

<%- partial('partials/not_logged_in_header') -%>

<div class="container" >
    <h2>Sorry</h2>

    <p>We are not currently accepting applications. Once we get our app a bit more fleshed out, we'll send you an email.</p>
    
</div>


