<% layout('layout/basic') -%>

<%- partial('partials/register_header') -%>

<div class="overlay">
    <div class="container form-box--vcentered">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 col-sm-8 col-sm-offset-2">
                <div class="form-box__header">
                    <h1>Thank you.</h1>
                    <p>
                        Now please go to your email box and click the link you will find
                        in the Soundsuit's confirmation email you just received.
                    </p>
                </div>
            </div>
        </div>

        <div class="form-box__delimiter clearfix">
            <hr class="col-md-6 col-md-offset-3">
        </div>

        <div class="row form-box__control-group--hcentered">
            <div class="fb-like" data-href="https://www.facebook.com/soundsuit" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
        </div>
    </div>
</div>

