<% layout('../layout/info') -%>

<h3>Soundsuit does not support Internet Explorer yet.</h3>
<p class="h4">Please use Soundsuit with
    <a href="https://www.mozilla.org/firefox" target="_blank">Mozilla Firefox</a>
    or
    <a href="https://www.google.com/chrome" target="_blank">Google Chrome</a>
</p>