
.icon-xing:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\e802'; } /* '' */
.icon-angle-right:before { content: '\e803'; } /* '' */
.icon-angle-left:before { content: '\e804'; } /* '' */
.icon-soundsuitlogo:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e806'; } /* '' */
.icon-tailoredlove:before { content: '\e807'; } /* '' */
.icon-preferences:before { content: '\e808'; } /* '' */
.icon-logo:before { content: '\e809'; } /* '' */
.icon-clickplay:before { content: '\e80a'; } /* '' */
.icon-angle-right-large:before { content: '\e80b'; } /* '' */
.icon-next:before { content: '\e80c'; } /* '' */
.icon-musical:before { content: '\e80d'; } /* '' */
.icon-data:before { content: '\e80e'; } /* '' */
.icon-circle:before { content: '\e80f'; } /* '' */
.icon-joystick:before { content: '\e810'; } /* '' */
.icon-bar:before { content: '\e811'; } /* '' */
.icon-umbrella:before { content: '\e812'; } /* '' */
.icon-small:before { content: '\e813'; } /* '' */
.icon-two:before { content: '\e814'; } /* '' */
.icon-fantasy:before { content: '\e815'; } /* '' */
.icon-heart:before { content: '\e816'; } /* '' */
.icon-hand-1:before { content: '\e817'; } /* '' */
.icon-download:before { content: '\e818'; } /* '' */
.icon-verified:before { content: '\e819'; } /* '' */
.icon-money:before { content: '\e81a'; } /* '' */
.icon-bank:before { content: '\e81b'; } /* '' */
.icon-spanner:before { content: '\e81c'; } /* '' */
.icon-applefamily:before { content: '\e81d'; } /* '' */
.icon-search:before { content: '\e81e'; } /* '' */
.icon-bullet:before { content: '\e81f'; } /* '' */
.icon-black:before { content: '\e820'; } /* '' */
.icon-user:before { content: '\e821'; } /* '' */
.icon-hand:before { content: '\e822'; } /* '' */
.icon-speech:before { content: '\e823'; } /* '' */
.icon-down:before { content: '\e824'; } /* '' */
.icon-arrow-next:before { content: '\e825'; } /* '' */
.icon-up:before { content: '\e826'; } /* '' */
.icon-arrow-prev:before { content: '\e827'; } /* '' */
.icon-chart:before { content: '\e828'; } /* '' */
.icon-shield:before { content: '\e829'; } /* '' */
.icon-fresh:before { content: '\e82a'; } /* '' */
.icon-ipad:before { content: '\e82b'; } /* '' */
.icon-like:before { content: '\e82c'; } /* '' */
.icon-quality:before { content: '\e82d'; } /* '' */
.icon-notebook-light:before { content: '\e82e'; } /* '' */
.icon-notebook-thin:before { content: '\e82f'; } /* '' */
.icon-play:before { content: '\e830'; } /* '' */
.icon-shield-1:before { content: '\e831'; } /* '' */
.icon-tablet-light:before { content: '\e832'; } /* '' */
.icon-tablet-thin:before { content: '\e833'; } /* '' */
.icon-audio:before { content: '\e834'; } /* '' */
.icon-robot:before { content: '\e835'; } /* '' */
.icon-mannequin:before { content: '\e836'; } /* '' */
.icon-close:before { content: '\e837'; } /* '' */
.icon-control:before { content: '\e838'; } /* '' */
.icon-tube:before { content: '\e839'; } /* '' */
.icon-wireless:before { content: '\e83a'; } /* '' */
.icon-graph:before { content: '\e841'; } /* '' */
.icon-diamond:before { content: '\e842'; } /* '' */
.icon-store:before { content: '\e868'; } /* '' */
.icon-speakers:before { content: '\e869'; } /* '' */
.icon-one-click:before { content: '\e86a'; } /* '' */
.icon-telegram-logo:before { content: '\e870'; } /* '' */
.icon-send:before { content: '\e871'; } /* '' */
.icon-phone:before { content: '\e872'; } /* '' */
.icon-prw:before { content: '\e873'; } /* '' */
.icon-globe:before { content: '\e87a'; } /* '' */