<header class="main">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-xs-12 col-sm-6">
				<div class="top-logo">
					<h1><a href="/"><i class="icon icon-soundsuit"></i><span class="text-hide">Soundsuit</span></a></h1>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="account-actions">
					<a href="/register" class="btn btn-default">Sign up</a>
					<a href="/login" class="btn btn-default">
						<span><i class="icon icon-user"></i></span> Log in
					</a>
				</div>
			</div>
		</div>
	</div>
</header>
