<header class="register-page__header">
  <h1 class="register-page__link-logo">
    <a href="/" class="hover-brand">
      <i class="icon icon-soundsuit"></i>
      <span class="text-hide">Soundsuit</span>
    </a>
  </h1>

  <div class="login-btn">
    <a href="/login" class="btn">
      Login
    </a>
  </div>
</header>
