<div class="modal-header">
  <h3 class="modal-title">Change password</h3>
</div>

<div class="modal-body">
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}">
    {{alert.msg}}
  </uib-alert>

  <div class="load5" ng-if="loading">
    <div class="loader"></div>
  </div>

  <form novalidate name="password_change" ng-submit="submit()" ng-hide="submitted" class="no-animate">
    <div class="form-group">
      <label for="exampleInputPassword0">Old Password</label>
      <input type="password"
             name="old_password"
             class="form-control"
             id="exampleInputPassword0"
             ng-model="data.old_password"
             required>

      <div ng-messages="password_change.old_password.$error">
        <p ng-message="required">Required.</p>
      </div>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password"
             name="password"
             class="form-control"
             id="exampleInputPassword1"
             ng-model="data.password"
             required
             ng-minlength="4">

      <div ng-messages="password_change.password.$error">
        <p ng-message="minlength">Too short.</p>
        <p ng-message="required">Required.</p>
      </div>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword2">Password Confirmation</label>
      <input type="password"
             name="password_confirmation"
             class="form-control"
             id="exampleInputPassword2"
             ng-model="data.password_confirmation"
             required
             ng-minlength="4"
             pw-check
             other-value="data.password">

      <div ng-messages="password_change.password_confirmation.$error">
        <p ng-message="minlength">Too short.</p>
        <p ng-message="required">Required.</p>
        <p ng-message="pwCheck">Passwords don't match.</p>
      </div>
    </div>

    <button type="submit" class="btn btn-warning"
            ng-disabled="!password_change.$dirty || password_change.$invalid">Change</button>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="cancel()">Close</button>
</div>
