@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?qgu5ym') format('truetype'),
    url('fonts/icomoon.woff?qgu5ym') format('woff'),
    url('fonts/icomoon.svg?qgu5ym#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e953";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-previous:before {
  content: "\ea23";
}
.icon-next:before {
  content: "\ea24";
}
.icon-file-excel:before {
  content: "\eae2";
}
.icon-pause:before {
  content: "\e600";
}
.icon-angle-up:before {
  content: "\e601";
}
.icon-angle-down:before {
  content: "\e608";
}
.icon-soundsuit:before {
  content: "\e60d";
}
.icon-play:before {
  content: "\e61a";
}

