<%- layout('basic') -%>

<%- partial('../partials/not_logged_in_header') -%>

<div class="overlay">
    <div class="container form-box--vcentered">
        <div class="row">
            <div class="col-md-12">

                <section class="form-box__header">
                    <i class="icon icon-soundsuit"></i>
                </section>

                <div class="form-box__footer">
                    <%- body -%>
                </div>
            </div>
        </div>
    </div>
</div>
